<div class="container">
    <form class="formContainer">
        <img class="standardbanklogo" src="../../../assets/images/Standard_Bank_of_South_Africa_logo.png">
      <div class="labelStd">
        <label class="stdText">Standard Bank</label>
      </div><br><br>
        <label class="SignText">Sign in</label><br><br>
        <input class="emailInput" placeholder="Email Address" type="email"><br><br><br>
        <input class="emailInput" placeholder="Password" type="password" ><br><br><br>
        <button class="btnSubmit" routerLink="navigation">Submit</button>
    </form>
</div>

