<div class="toolbar" role="banner" id="nav">
    <img class="standardbanklogo" src="../../../assets/images/Standard_Bank_of_South_Africa_logo.png">
  
</div><br><br><br>

<app-loader *ngIf="!tableData.length && !searchForm.value.ID?.length"></app-loader>

<div class="container-fluid" *ngIf="tableData.length > 0 || searchForm.value.ID?.length">
  <div class="searchBox">
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
      <label class="labelEIID"><strong>Enterprise-ID/Business partner_ID</strong> </label>
      <input formControlName="ID" class="inputBox">
      <button class="submitBtn" type="submit">Submit</button>
    </form>
  </div><br>
  <p *ngIf="idType != ''" class="searchedBY">Searched by <strong>"{{idType}}"</strong> : {{searchForm.value.ID}}</p>
  
  <div class="reload" *ngIf="reload == true && searchForm.value.ID == '' && tableData.length > 0 && idType != ''">{{getSvocData()}}</div>

  <div class="container h">
    <body>
      <table id="example" class="table table-striped table-hover table-bordered" >
          <thead>
            <tr class="sticky-top">
              <th scope="col">Enterprise-ID</th>
              <th scope="col">Super-EID</th>
              <th scope="col">BP-Number</th>
              <th scope="col">Preffered BP Indicator</th>
            </tr>
          </thead>
          <tbody style="font-size: 12px" *ngIf="tableData.length > 0">
            <tr *ngFor="let row of tableData | paginate: {
                itemsPerPage: tableSize,
                currentPage: page,
                totalItems: count
              };
              let i = index">
              <td scope="row">{{row.enterpriseId}}</td>
              <td scope="row">{{row.super_EID}}</td>
              <td scope="row">{{row.systemIdNumber}}</td>
              <td scope="row">{{row.prefered_BP}}</td>
            </tr>
          </tbody>
          <tbody *ngIf="tableData.length == 0 || tableData.length == null && searchForm.value.ID?.length && reload == true">
            <tr class="noRecords">No record found</tr>
          </tbody>
        </table>
  
        <div class="row">
          <div class="col-xs-5 col-md-4">
            <p *ngIf="tableData.length > 0">
              {{tableData.length}} records found
            </p>
          </div>
          
          <div class="col-xs-7 col-md-8">
            <pagination-controls
            *ngIf="tableData.length > 10"
              previousLabel="Prev"
              nextLabel="Next"
              (pageChange)="onTableDataChange($event)"
            >
            </pagination-controls>
          </div>
        </div>
    </body>
  </div>
</div>
